.programms{
    padding: 80px 100px;
    background-color: #F3F5F4;
}
.programms .container{
    display: flex;
    column-gap: 90px;
    align-items: center;
}
.programms__info{
    width: 49%;
}
.programms__media{
    width: 43%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.programms__media img{
    width: calc((100% - 10px) / 2);
    aspect-ratio: 1/1;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.4s linear;
}
.programms__media img:hover{
    transform: scale(1.01);
}
.programms__advantages{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
