.main{
    width: 100%;
    background-image: url('/imgs/main_background.png');
    height: 985px;
    background-size: cover;
    background-position: center;
    padding: 82px 0px;
}
.main .container{
    align-content: end;
    height: 100%;
}
.main__title{
    font-family: "Next Art";
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fdfdfd;
    text-transform: uppercase;
    margin-bottom: 41px;
}

@media(max-width: 1000px){
    .main__title{
        font-size: 44px;
        line-height: normal;
    }
}
@media(max-width: 768px){
    .main__title{
        font-size: 30px;
    }
}
@media(max-width: 500px){
    .main__title{
        font-size: 24px;
    }
}
@media(max-width: 400px){
    .main__title{
        font-size: 22px;
    }
}