@font-face {
  font-family: 'Nunito Sans';
  src: url('../assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Next Art';
  src: url('../assets/fonts/NEXT_ART_Regular.otf') format('truetype');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Next Art';
  src: url('../assets/fonts/NEXT_ART_SemiBold.otf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Next Art';
  src: url('../assets/fonts/NEXT_ART_Bold.otf') format('truetype');
  font-weight: 600; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Next Art';
  src: url('../assets/fonts/NEXT_ART_Heavy.otf') format('truetype');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Next Art';
  src: url('../assets/fonts/NEXT_ART_Light.otf') format('truetype');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
}

.container{
  width: 1180px;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
